* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #0d1011;
}

main {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #2c3639;
  border-right: 2px solid #a27b5c;
  border-bottom: 2px solid #a27b5c;
  border-radius: 10px;
}

@font-face {
  font-family: "Baskerville Bold-Italic";
  src: url(../Components/Fonts/BaskervilleBoldItalicBT.ttf);
}

.title {
  color: #dcd7c9;
  font-family: "Baskerville Bold-Italic";
  font-size: 30px;
}

.notes {
  overflow: auto;
  flex-grow: 2;
}

.notes::-webkit-scrollbar {
  border-radius: 10px;
}

.notes::-webkit-scrollbar-track {
  background-color: #0d1011;
  border-radius: 10px;
}

.notes::-webkit-scrollbar-button {
  display: none;
}

.notes::-webkit-scrollbar-thumb {
  background-color: #2c3639;
  border-radius: 10px;
  border-right: 2px solid #a27b5c;
  border-bottom: 2px solid #a27b5c;
}