.editing-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #202020;
  border: 0.5px solid #111111;
  padding: 15px;
  width: 200px;
  box-shadow: 0 0 10px 1px #dcd7c938;
}

.editing-title-input, .editing-text-input {
  background-color: transparent;
}

.editing-title-input {
  color: #dcd7c9;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  box-sizing: border-box;
  padding: 10px 2px;
  border-bottom: 0.5px solid #111111;
  outline: none;
}

.editing-title-input:active, 
.editing-title-input:hover {
  border-bottom: 0.5px solid #111111;
  outline: none;
}

.editing-text-input {
  color: #dcd7c9;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.04em;
  box-sizing: border-box;
  border-left: 0.5px solid #111111;
  border-right: 0.5px solid #111111;
  padding: 0 10px;
  height: 200px;
  resize: none;
  outline: none;
  margin: 7px 0px;
}

.editing-text-input:active,
.editing-text-input:hover {
  border-left: 0.5px solid #111111;
  border-right: 0.5px solid #111111;
  outline: none;
}

.editing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editing-save-button,
.editing-cancel-button {
  color: #dcd7c9;
  border: 0.5px solid #dcd7c998;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: transparent;
  padding: 10px 0px;
  width: 48%;
}